.banner {
    display: block;
    padding: 5px;
    margin: 0;
    width: 100vw;
    height: 80vh;
    position: relative;
}
.banner:after{
    content: '';
    top:0; left:0; right:0; bottom:0;
    position: absolute;
    box-shadow: inset 0px 0px 20px 7px #000000;    
}
.bannerText {
    position: relative;
    top:100px;
    z-index:20;
    text-align: center;
    color: white;
}
.bannerText h1 {
    font-size: 3em;
    font-weight: 500;
    margin: 0;
}
.bannerText h2 {
    font-size: 1.5em;
    font-weight: 300;
    margin: 0;
}
